
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-42a {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 6.9rem 0rem 6.6rem 5.2rem;
  width: 100%;
  overflow: hidden;
  background-color: #ffffee;

  .auto-group-wh57-8wY {
    margin: 0rem 5.8rem 10.2rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .removebg-preview-1-FoC {
      height: 6.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 32.8rem;
      width: 44.7rem;
    }
    .home-VSe {
      margin: 0rem 5rem 0.6rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .how-it-works-H7c {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.6rem 0.2rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .auto-group-vigd-kWz {
      margin-bottom: 1.1rem;
      width: 27rem;
      height: 5.4rem;
      position: relative;
      flex-shrink: 0;

      .frame-1-Suc {
        top: 0;
        overflow: hidden;
        width: 17.9rem;
        height: 5.2rem;
        position: absolute;
        left: 9.1rem;
      }
      .rectangle-5-XAN {
        width: 26rem;
        height: 5.3rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: #84cb25;
        border-radius: 2rem;
      }
      .connect-your-wallet-y2N {
        position: absolute;
        left: 3.1rem;
        top: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 20rem;
        height: 2.5rem;
        font-size: 2rem;
        color: #fdfffe;
        white-space: nowrap;
      }
    }
  }
  .auto-group-zlsh-nEi {
    margin-left: 11rem;
    width: calc(100% - 11rem);
    height: 72rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-gjdw-qin {
      margin: 3.8rem 11.8rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .gotlogouncut-removebg-preview-1-j3U {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 6rem 0.1rem;
        width: 43.3rem;
        height: 17.4rem;
        object-fit: cover;
      }
      .pngwing-2-PNv {
        width: 35.6656rem;
        height: 8.1226rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.5774rem;
      }
      .full-solana-logo-1-3iN {
        margin-left: 2rem;
        width: 30.3rem;
        height: 4.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-4bx3-w34 {
      width: 74.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-1-1oc {
        border-radius: 2.5rem;
        width: 62.1rem;
        height: 43.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #84cb25;
      }
      .rectangle-2-WVU {
        border-radius: 2rem;
        position: absolute;
        left: 3.4rem;
        top: 8.6rem;
        border: solid 0.1rem #000000;
        background-color: #fffdfd;
        width: 52.4rem;
        height: 5.9rem;
        box-sizing: border-box;
      }
      .rectangle-6-ZyY {
        position: absolute;
        top: 20.4rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #fffdfd;
        width: 53.7rem;
        height: 6rem;
        left: 3.4rem;
        border-radius: 2rem;
      }
      .rectangle-4-nrJ {
        border-radius: 2rem;
        top: 31rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        left: 3.4rem;
        background-color: #fdfffe;
        width: 53.7rem;
        height: 5.9rem;
        position: absolute;
      }
      .r4pv7u6wtyijnmelfi7hcqrvath2r4yatqgvjdbvg3r-s74 {
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 2.2rem;
        position: absolute;
        left: 6.1rem;
        top: 10.3rem;
        font-size: 1.8rem;
        width: 45.4rem;
        color: rgba(0, 0, 17, 0.6299999952);
        font-family: Inter, 'Source Sans Pro';
      }
      .number-of-nfts-JCN {
        color: #fffdfd;
        white-space: nowrap;
        position: absolute;
        height: 2.5rem;
        left: 5.5rem;
        top: 17.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 15.7rem;
      }
      .mint-your-nft-vUe {
        width: 20.6rem;
        height: 3.7rem;
        left: 20rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 3rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #fffdfd;
      }
      .enter-the-number-of-nfts-kia {
        line-height: 1.2125;
        width: 22rem;
        position: absolute;
        left: 6.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        height: 2.2rem;
        top: 22.4rem;
        color: rgba(0, 0, 17, 0.6299999952);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mint-ZAE {
        white-space: nowrap;
        height: 2.7rem;
        position: absolute;
        left: 27.8rem;
        font-size: 2.2rem;
        line-height: 1.2125;
        color: rgba(0, 0, 17, 0.6299999952);
        font-family: Inter, 'Source Sans Pro';
        width: 4.9rem;
        top: 32.6rem;
        text-align: center;
        font-weight: 700;
      }
      .pngwing-3-EXG {
        position: absolute;
        left: 3.4rem;
        top: 42.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 71.5rem;
        height: 29.2rem;
      }
    }
  }
}
