
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-Y2J {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffee;
}
.desktop-6-Y2J .removebg-preview-1-rHt {
  margin-right: 32.8rem;
  width: 44.7rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-6-Y2J .home-ytJ {
  margin: 1.8rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-6-Y2J .how-it-works-uGA {
  margin: 2rem 5.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-6-Y2J .auto-group-b1ad-RkJ {
  margin-top: 0.1rem;
  width: 27rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-6-Y2J .auto-group-b1ad-RkJ .frame-1-N9k {
  width: 17.9rem;
  height: 5.2rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  overflow: hidden;
}
.desktop-6-Y2J .auto-group-b1ad-RkJ .rectangle-5-iDc {
  width: 26rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #84cb25;
  border-radius: 2rem;
}
.desktop-6-Y2J .auto-group-b1ad-RkJ .r4pv7u6wtyijnm-eNA {
  width: 19rem;
  height: 2.5rem;
  position: absolute;
  left: 3.1rem;
  top: 1.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fdfffe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
