
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-jKU {
  overflow: hidden;
  background-color: #ffffee;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .auto-group-luxh-GKQ {
    display: flex;
    align-items: center;
    width: 133rem;
    height: 6.7rem;
    position: absolute;
    left: 5.2rem;
    top: 6.9rem;

    .removebg-preview-1-n2r {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 32.8rem;
      width: 44.7rem;
      height: 6.7rem;
    }
    .home-758 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5rem 0.6rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .how-it-works-Ddx {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.6rem 0.2rem 0rem;
    }
    .auto-group-rztw-k86 {
      margin-bottom: 1.1rem;
      width: 27rem;
      height: 5.4rem;
      position: relative;
      flex-shrink: 0;

      .frame-1-tVC {
        position: absolute;
        left: 9.1rem;
        top: 0;
        overflow: hidden;
        width: 17.9rem;
        height: 5.2rem;
      }
      .rectangle-5-EJA {
        height: 5.3rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: #84cb25;
        border-radius: 2rem;
        width: 26rem;
      }
      .r4pv7u6wtyijnm-xEA {
        width: 19rem;
        top: 1.6rem;
        color: #fdfffe;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 3.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
  }
  .your-project-tracking-ecn {
    left: 49.9rem;
    top: 16.7rem;
    font-weight: 400;
    line-height: 1.2125;
    color: rgba(0, 0, 17, 0.6299999952);
    width: 41.5rem;
    height: 4.9rem;
    position: absolute;
    font-size: 4rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-6581-xNa {
    width: 75.5rem;
    height: 30.6rem;
    position: absolute;
    left: 35.7rem;
    top: 66.4rem;

    .rectangle-10-rD4 {
      position: absolute;
      left: 0;
      top: 3.3rem;
      background-color: rgba(132, 203, 37, 0.8999999762);
      border-radius: 2rem;
      width: 75.5rem;
      height: 27.3rem;
    }
    .rectangle-11-m58 {
      height: 4.7rem;
      position: absolute;
      left: 3.9rem;
      top: 7.6rem;
      background-color: #ffffee;
      border-radius: 2rem;
      width: 65.1rem;
    }
    .rectangle-12-GGn {
      position: absolute;
      left: 3.7rem;
      top: 14.6rem;
      background-color: #ffffee;
      border-radius: 2rem;
      width: 65.1rem;
      height: 4.7rem;
    }
    .rectangle-13-Asx {
      border-radius: 2rem;
      width: 65.1rem;
      height: 4.7rem;
      position: absolute;
      left: 3.9rem;
      top: 21.6rem;
      background-color: #ffffee;
    }
    .your-address-6Fp {
      font-weight: 400;
      width: 19rem;
      position: absolute;
      top: 0;
      font-size: 3rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.7rem;
      left: 27.2rem;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.5799999833);
    }
    .elm-street-apartment-5b-zMC {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 8.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      width: 31.6rem;
      height: 2.7rem;
      left: 7.3rem;
      font-size: 2.2rem;
    }
    .your-geotracking-location-gUv {
      white-space: nowrap;
      height: 2.7rem;
      position: absolute;
      top: 22.6rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #000000;
      width: 27.6rem;
      left: 6.3rem;
      font-size: 2.2rem;
      font-weight: 400;
    }
    .anytown-usa-Mqx {
      position: absolute;
      left: 6.3rem;
      font-weight: 400;
      white-space: nowrap;
      width: 14.9rem;
      height: 2.7rem;
      top: 15.6rem;
      font-size: 2.2rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-vue1-SsQ {
    width: 89.3rem;
    position: absolute;
    top: 24.4rem;
    display: flex;
    background-position: center;
    box-sizing: border-box;
    height: 40.6rem;
    left: 30.8rem;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:1d647f12356cdb3cd3f2dec2a258b5a34b760a44');
    padding: 4.4rem 10.9rem 7.7rem 10.3rem;

    .icon-flag-hHY {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.7rem 20.6rem 0rem;
      width: 1.9rem;
      height: 3.5rem;
    }
    .icon-flag-PgA {
      margin: 14.8rem 15.8rem 0rem 0rem;
      width: 1.9rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-flag-tsp {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.8rem 5.8rem 0rem 0rem;
      width: 1.9rem;
      height: 3.5rem;
    }
    .icon-flag-QbG {
      margin: 18rem 12.8rem 0rem 0rem;
      width: 1.9rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-flag-81U {
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.6rem 3.9rem 0rem 0rem;
      width: 1.9rem;
    }
    .icon-flag-E4W {
      margin: 0rem 7.8rem 25rem 0rem;
      width: 1.9rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-flag-vxv {
      margin-top: 25rem;
      width: 1.9rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
